body {
    height: 100%;
    background-color: royalblue;
}

#allPosts {
    text-decoration: underline;
}

.content {
    min-height: 100%;
}

.content-inside {
    padding: 20px 20px 50px 20px;
}

.footer {
    background-color: lightsteelblue;
    position: -webkit-sticky;
    text-align: center;
    height: 50px;
    margin-top: 600px;
}